.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.place__paragraph:nth-of-type(2n) {
  margin-top: 26px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__paragraph {
    margin: 0 16px;
    max-width: 310px;
  }
  .place__paragraph:nth-of-type(2n) {
    margin-top: 25px;
  }
}

@media screen and (max-width: 319px) {
  .place__paragraph {
    margin: 0 16px;
    max-width: 310px;
  }
  .place__paragraph:nth-of-type(2n) {
    margin-top: 25px;
  }
}
