.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__link:hover {
  opacity: .8;
  transition: opacity .5s ease-in-out;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .place__link {
    margin: 16px;
  }
}


@media screen and (max-width: 320px) {
  .place__link {
    margin-left: 16px;
  }
}
