.place__website {
  margin: 0;
  align-self: end;
}

@media screen and (max-width: 1279px) {
  .place__website {
    max-width: calc(100vw - 2*148px - 460px - 40px);
  }
}

@media screen and (max-width: 1024px) {
  .place__website {
    max-width: calc(100vw - 2*48px - 440px - 32px);
  }
}

